body{
margin:0;
font-family:Arial,sans-serif;
background:#ffffff;
}

header{
background:#08384d;
padding:20px;
text-align:center;
}

.logo{
height:70px;
}

.container{
max-width:700px;
margin:auto;
padding:35px;
}

h1{
font-size:42px;
margin-bottom:20px;
}

p{
font-size:22px;
line-height:35px;
}

input{
width:100%;
padding:18px;
font-size:22px;
background:#eef2f6;
border:none;
margin-top:15px;
}

button{
margin-top:25px;
background:#12d98c;
color:white;
border:none;
padding:18px 45px;
font-size:22px;
cursor:pointer;
border-radius:5px;
}
